---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
		My name is Italo Amaya and I am currently pursuing a Bsc in Computer Science and Artificial Intelligence.
		Currently researching Deep Learning Techniques for Detecting Steganography!
		</p>
		<p>
		I am a highly <span class="text-orange-500">curious</span> individual! Don't take my word just ask my mom :) hi mom. This curiosity has taken me from building my own decision tree library all in C to learning the Japanese language.
		</p>
		<p>
		I constantly find new ways of challenging myself, growing my knowledge and nourishing personal spirit. This sometimes drives me crazy ... sometimes
		</p>
		<p>
			If you want to know what I am up to look at my <a
				aria-label="github"
				class="cactus-link inline-block"
				href="https://github.com/italoaa"
				rel="noreferrer"
				target="_blank">github</a
			> if you like :)
		</p>
	</div>
</PageLayout>
