---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
		Hi! Currently I am at the end of my University studies, pursuing a Bsc in Computer Science and Artificial Intelligence
		I have just finished researching Deep Learning Techniques for Detecting Steganography as my Dissertation!
		</p>
		<p>
		  I am a highly <span class="text-orange-500">curious</span> individual! Currently this curiosity has driven me to build my own Auto Differentiation Tensor Library in Rust called <a target="_blank" class="cactus-link inline-block" href="https://github.com/italoaa/Rusty-Flow">Rusty Flow</a> to learning GPU programming in CUDA <a target="_blank" class="cactus-link inline-block" href="https://github.com/italoaa/Mnist-from-scratch">Mnist from Scratch</a>. 
		</p>
		<p>
		I constantly find new ways of challenging myself, growing my knowledge and nourishing personal spirit. This sometimes drives me crazy ... sometimes
		</p>
		<p>
			If you want to know what I am up to look at my <a
				aria-label="github"
				class="cactus-link inline-block"
				href="https://github.com/italoaa"
				rel="noreferrer"
				target="_blank">github</a
			> if you like :)
		</p>
	</div>
</PageLayout>
